<html>

<head>
    <title>Questions</title>
    <style>
        table,
        th,
        td {
            border: 1px solid black;
        }
    </style>
</head>

<body>
    <table>
        <tr>
            <th>Question Number</th>
            <th>Question</th>
        </tr>
        <tr>
            <td>Question 1</td>
            <td>This is Question 1</td>
        </tr>
        <tr>
            <td>Question 2</td>
            <td>This is Question 2</td>
        </tr>
        <tr>
            <td>Question 1</td>
            <td>This is Question 3</td>
        </tr>
        <tr>
            <td>Question 1</td>
            <td>This is Question 4</td>
        </tr>
    </table>
</body>

</html>